<div class="row">
    <div class="col-md-6">
        <h2>Ready to Jam?</h2>
        <p>
            The Jammer is the perfect social network for jamming with other people. What are you waiting for? <br /><b>Register now!</b>
        </p>
        <p><a href='@Url.Action("Register", "Home")' class="btn btn-primary">Register &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Already a Jammer?</h2>
        <p>Login to get access to the world of Jamming goodness!</p>
        <p><a href='@Url.Action("Login", "Home")' class="btn btn-primary">Login &raquo;</a></p>

    </div>
</div>

